.profile-image {
    border: 3px solid rgba(0, 0, 0, 0.2);
}

body{
 font-size: 0.985rem;
 font-weight: 300;
 color: black;
}
a{
 font-size: 0.955rem;
 font-weight: 300;
}

b, strong{
 color: black;
 font-weight: 600;
}

h6, h5, h4, h3, .h3 {
    font-weight: 400;
}

.site-container {
    padding-top: 80px;
}

.icon {
    height: 21px;
    width: 21px;
}

.icon.grey svg path {
    fill: #999;
}

.icon.red svg path {
    fill: #A00;
}

.list-title {
    text-transform: uppercase;
    font-weight: 300;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler {
    font-family: Helvetica;
    background-color: rgba(255,255,255,0.1);
    background-color: black;
}

.navbar-toggler.collapsed {
    background-color: transparent;
}

h2[id]::before {
    display: block;
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
    content: "";
}

.sticky-top.space-before {
    padding-top: 80px;
    margin-top: -80px;
}

.navbar {
  padding: 0.5rem 10rem;
}

.nav-item{
    color: #ffff;
    font-family: Helvetica;
    font-weight: 400 !important;
    font-size: 1.5em;
}
